@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 0;
}

.App {
  padding: 0;
  transition: 2s ease;
  font-family: "Teachers", sans-serif;
}

.header {
  position: fixed;
  cursor: pointer;
  margin: 24px;
  font-size: 1rem;
  font-weight: 500;
  z-index: 1;
}

.header:hover {
  opacity: 0.5;
}

.img-container {
  width: 100vw;
  display: flex;
  object-fit: contain;
  transition: 3s ease;
}

.img-container img {
  position: relative;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .img-container {
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .img-container {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .img-container {
    margin-bottom: 150px;
  }
}
