.App {
  padding: 0;
  transition: 2s ease;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.img-container img {
  position: relative;
  height: auto;
}

/* @media (max-width: 1024px) {
  .img-container img {
    position: static;
  }
}

@media (max-width: 768px) {
  .img-container img {
    position: static;
    max-width: 90vw;
    max-height: 100vh;
    height: auto !important;
    margin-top: 50 !important;
  }
} */
